<p class="title">Projects</p>

<% @projects.each do |project| %>

<% end %>



<div class="listing">
  <p><a href="testprojectshow.html">Effects of alcohol and cigarettes on lonely 19-year-olds</a></p>
  <p>Author: <a href="johnsmith.html">Dr. John Smith</a></p>
  <p class="fineprint">2 experiments posted</p>
</div>
<div class="listing">
  <p><a href="testprojectshow.html">Effects of alcohol and cigarettes on lonely 19-year-olds</a></p>
  <p>Author: <a href="johnsmith.html">Dr. John Smith</a></p>
  <p class="fineprint">2 experiments posted</p>
</div>
<div class="listing">
  <p><a href="testprojectshow.html">Effects of alcohol and cigarettes on lonely 19-year-olds</a></p>
  <p>Author: <a href="johnsmith.html">Dr. John Smith</a></p>
  <p class="fineprint">2 experiments posted</p>
</div>
<div class="listing">
  <p><a href="testprojectshow.html">Effects of alcohol and cigarettes on lonely 19-year-olds</a></p>
  <p>Author: <a href="johnsmith.html">Dr. John Smith</a></p>
  <p class="fineprint">2 experiments posted</p>
</div>
<div class="listing">
  <p><a href="testprojectshow.html">Effects of alcohol and cigarettes on lonely 19-year-olds</a></p>
  <p>Author: <a href="johnsmith.html">Dr. John Smith</a></p>
  <p class="fineprint">2 experiments posted</p>
</div>
