<header>
  <p class="logo">Aly University Lab Experiment Tracker
  <% if session[:id] %>
  	<span class="fl-r white"><%= link_to "Log out", logout_path, method: "delete" %></span>
  <% end %>
  </p>
</header>
