<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="../assets/stylesheets/application.css">
  <title></title>
</head>
<body>




<div class="container">
  <header>
    <p class="white">Login/logout, userid info will go here</p>
  </header>

  <nav>
    <span class="logo">Aly University Lab Experiment Tracker</span>
    <ul class="nav-menu">
      <li>All Proposals</li>
      <li>Post a Proposal</li>
      <li>Post an Experiment</li>
    </ul>
  </nav>

  <div class="tabs">
    <ul>
      <li><a href="testconclusions.html">Conclusions</a></li>
      <li><a href="testresults.html">Results</a></li>
      <li><a href="testobservations.html">Observations</a></li>
      <li><a href="testprocedures.html">Procedures</a></li>
      <li class="active">Summary</li>
    </ul>
  </div>

<p class="title">Experiment: McGinty's Pub and Jello Shots</p>

<p>In Response to Proposal: <a href="testprojectshow.html">Effects of alcohol and cigarettes on lonely 19-year-olds</a></p>

<p>Date: July 15, 2015</p>

</div>
</body>
</html>
