<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="../assets/stylesheets/application.css">
  <title></title>
</head>
<body>




<div class="container">
  <header>
    <p class="white">Login/logout, userid info will go here</p>
  </header>

  <nav>
    <span class="logo">Aly University Lab Experiment Tracker</span>
    <ul class="nav-menu">
      <li>All Projects</li>
      <li>Post a Proposal</li>
    </ul>
  </nav>

  <p class="title">Projects</p>
  <div class="listing">
    <p><a href="testprojectshow.html">Effects of alcohol and cigarettes on lonely 19-year-olds</a></p>
    <p>Author: <a href="johnsmith.html">Dr. John Smith</a></p>
    <p class="fineprint">2 experiments posted</p>
  </div>
  <div class="listing">
    <p><a href="testprojectshow.html">Effects of alcohol and cigarettes on lonely 19-year-olds</a></p>
    <p>Author: <a href="johnsmith.html">Dr. John Smith</a></p>
    <p class="fineprint">2 experiments posted</p>
  </div>
  <div class="listing">
    <p><a href="testprojectshow.html">Effects of alcohol and cigarettes on lonely 19-year-olds</a></p>
    <p>Author: <a href="johnsmith.html">Dr. John Smith</a></p>
    <p class="fineprint">2 experiments posted</p>
  </div>
  <div class="listing">
    <p><a href="testprojectshow.html">Effects of alcohol and cigarettes on lonely 19-year-olds</a></p>
    <p>Author: <a href="johnsmith.html">Dr. John Smith</a></p>
    <p class="fineprint">2 experiments posted</p>
  </div>
  <div class="listing">
    <p><a href="testprojectshow.html">Effects of alcohol and cigarettes on lonely 19-year-olds</a></p>
    <p>Author: <a href="johnsmith.html">Dr. John Smith</a></p>
    <p class="fineprint">2 experiments posted</p>
  </div>

</div>
</body>
</html>
