<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="../assets/stylesheets/application.css">
  <title></title>
</head>
<body>




<div class="container">
  <header>
    <p class="white">Login/logout, userid info will go here</p>
  </header>

  <nav>
    <span class="logo">Aly University Lab Experiment Tracker</span>
    <ul class="nav-menu">
      <li>All Projects</li>
      <li>Post a Proposal</li>
    </ul>
  </nav>

  <p class="title">Effects of alcohol and cigarettes on lonely 19-year-olds</p>
  <p>Author: <a href="johnsmith">Dr. John Smith</a></p>
  <p>Hypothesis: Increased positive effect until 2 a.m, then rapid deterioration after</p>
  <p>Summary: Experiment was rousing success and/or failure, depending on outlook</p>
  <form method="GET" action="/edit" class="inline">
    <input type="submit" value="Post a new Experiment">
  </form>

  <div class="listing">
    <p><a href="testexperimentshow.html">Experiment: McGinty's Pub and Jello Shots</a></p>
    <p class="fineprint">Posted on July 13, 2015 by <a href="johnsmith">Dr. John Smith</a></p>
  </div>
  <div class="listing">
    <p><a href="testexperimentshow.html">Experiment: McGinty's Pub and Jello Shots</a></p>
    <p class="fineprint">Posted on July 13, 2015 by <a href="johnsmith">Dr. John Smith</a></p>
  </div>
  <div class="listing">
    <p><a href="testexperimentshow.html">Experiment: McGinty's Pub and Jello Shots</a></p>
    <p class="fineprint">Posted on July 13, 2015 by <a href="johnsmith">Dr. John Smith</a></p>
  </div>
  <div class="listing">
    <p><a href="testexperimentshow.html">Experiment: McGinty's Pub and Jello Shots</a></p>
    <p class="fineprint">Posted on July 13, 2015 by <a href="johnsmith">Dr. John Smith</a></p>
  </div>
  <div class="listing">
    <p><a href="testexperimentshow.html">Experiment: McGinty's Pub and Jello Shots</a></p>
    <p class="fineprint">Posted on July 13, 2015 by <a href="johnsmith">Dr. John Smith</a></p>
  </div>

<p class="titlesmall">Comments</p>

<p class="commentbody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper dignissim enim quis pulvinar. Nunc auctor tincidunt quam, nec posuere tortor iaculis quis. Donec vitae leo ut nulla maximus ultricies vel nec est. Quisque ut consectetur enim. Pellentesque posuere, ligula a mollis tincidunt, lectus est lobortis velit, id blandit ex leo sed magna. Morbi at hendrerit ex. In magna augue, pulvinar at finibus vitae, euismod ac justo. In aliquam eros vel bibendum feugiat. <span class="fineprint"><a href="johnsmith.html">Dr. John Smith</a>, June 15th, 2015</span>
</p>

<form method="GET" action="/edit" class="inline">
  <input type="submit" value="Add comment">
</form>

</div>
</body>
</html>
