<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="../assets/stylesheets/application.css">
  <title></title>
</head>
<body>

<div class="container">
  <header>
    <p class="white">Login/logout, userid info will go here</p>
  </header>

  <nav>
    <span class="logo">Aly University Lab Experiment Tracker</span>
    <ul class="nav-menu">
      <li>All Projects</li>
      <li>Post a Proposal</li>
    </ul>
  </nav>

  <div class="tabs">
    <ul>
      <li><a href="testconclusions.html">Conclusions</a></li>
      <li><a href="testresults.html">Results</a></li>
      <li><a href="testobservations.html">Observations</a></li>
      <li class="active">Procedures</li>
      <li><a href="testexperimentshow.html">Summary</a></li>
    </ul>
  </div>

<p class="title">Experiment: McGinty's Pub and Jello Shots</p>
<p class="title">Procedures</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper dignissim enim quis pulvinar. Nunc auctor tincidunt quam, nec posuere tortor iaculis quis. Donec vitae leo ut nulla maximus ultricies vel nec est. Quisque ut consectetur enim. Pellentesque posuere, ligula a mollis tincidunt, lectus est lobortis velit, id blandit ex leo sed magna. Morbi at hendrerit ex. In magna augue, pulvinar at finibus vitae, euismod ac justo. In aliquam eros vel bibendum feugiat.</p>

<p>Sed et leo nec turpis consectetur porta et ac ante. Sed non pretium dolor, in mattis turpis. Mauris ac sapien in lectus lobortis tincidunt non pharetra odio. Duis vitae velit auctor, ultricies lorem sed, vestibulum dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce porta dui id mauris fringilla, a feugiat sapien condimentum. Donec tellus quam, luctus in placerat nec, feugiat ac magna. Praesent eros quam, condimentum fermentum fringilla eu, sodales eget est. Vivamus sodales est rutrum lacus efficitur tempor.</p>

<p class="titlesmall">Observations</p>

<p class="observationbody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper dignissim enim quis pulvinar. Nunc auctor tincidunt quam, nec posuere tortor iaculis quis. Donec vitae leo ut nulla maximus ultricies vel nec est. Quisque ut consectetur enim. Pellentesque posuere, ligula a mollis tincidunt, lectus est lobortis velit, id blandit ex leo sed magna. Morbi at hendrerit ex. In magna augue, pulvinar at finibus vitae, euismod ac justo. In aliquam eros vel bibendum feugiat. <span class="fineprint"><a href="johnsmith.html">Dr. John Smith</a>, June 15th, 2015</span>
</p>

<p class="commentobservation">--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper dignissim enim quis pulvinar. Nunc auctor tincidunt quam, nec posuere tortor iaculis quis. Donec vitae leo ut nulla maximus ultricies vel nec est. Quisque ut consectetur enim. Pellentesque posuere, ligula a mollis tincidunt, lectus est lobortis velit, id blandit ex leo sed magna. Morbi at hendrerit ex. In magna augue, pulvinar at finibus vitae, euismod ac justo. In aliquam eros vel bibendum feugiat. <span class="fineprint"><a href="johnsmith.html">Dr. John Smith</a>, June 15th, 2015</span>
</p>

<form method="GET" action="/edit" class="inline">
  <input type="submit" value="Add comment">
</form>

<p class="observationbody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper dignissim enim quis pulvinar. Nunc auctor tincidunt quam, nec posuere tortor iaculis quis. Donec vitae leo ut nulla maximus ultricies vel nec est. Quisque ut consectetur enim. Pellentesque posuere, ligula a mollis tincidunt, lectus est lobortis velit, id blandit ex leo sed magna. Morbi at hendrerit ex. In magna augue, pulvinar at finibus vitae, euismod ac justo. In aliquam eros vel bibendum feugiat. <span class="fineprint"><a href="johnsmith.html">Dr. John Smith</a>, June 15th, 2015</span>
</p>

<p class="commentobservation">--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper dignissim enim quis pulvinar. Nunc auctor tincidunt quam, nec posuere tortor iaculis quis. Donec vitae leo ut nulla maximus ultricies vel nec est. Quisque ut consectetur enim. Pellentesque posuere, ligula a mollis tincidunt, lectus est lobortis velit, id blandit ex leo sed magna. Morbi at hendrerit ex. In magna augue, pulvinar at finibus vitae, euismod ac justo. In aliquam eros vel bibendum feugiat. <span class="fineprint"><a href="johnsmith.html">Dr. John Smith</a>, June 15th, 2015</span>
</p>

<form method="GET" action="/edit" class="inline">
  <input type="submit" value="Add comment">
</form>

<p><form method="GET" action="/edit" class="inline">
  <input type="submit" value="Add observation">
</form></p>

</div>
</body>
</html>
