<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="../assets/stylesheets/application.css">
  <title></title>
</head>
<body>




  <div class="container">
    <header>
      <p class="white">Login/logout, userid info will go here</p>
    </header>

    <nav>
      <span class="logo">Aly University Lab Experiment Tracker</span>
      <ul class="nav-menu">
        <li>All Proposals</li>
        <li>Post a Proposal</li>
        <li>Post an Experiment</li>
      </ul>
    </nav>

    <p class="title">Effects of alcohol and cigarettes on lonely 19-year-olds</p>
    <div class="listing">
      <p><a href="testexperimentshow.html">Experiment: McGinty's Pub and Jello Shots</a></p>
      <p class="fineprint">Posted on July 13, 2015 by <a href="johnsmith">Dr. John Smith</a></p>
    </div>
    <div class="listing">
      <p><a href="testexperimentshow.html">Experiment: McGinty's Pub and Jello Shots</a></p>
      <p class="fineprint">Posted on July 13, 2015 by <a href="johnsmith">Dr. John Smith</a></p>
    </div>
    <div class="listing">
      <p><a href="testexperimentshow.html">Experiment: McGinty's Pub and Jello Shots</a></p>
      <p class="fineprint">Posted on July 13, 2015 by <a href="johnsmith">Dr. John Smith</a></p>
    </div>
    <div class="listing">
      <p><a href="testexperimentshow.html">Experiment: McGinty's Pub and Jello Shots</a></p>
      <p class="fineprint">Posted on July 13, 2015 by <a href="johnsmith">Dr. John Smith</a></p>
    </div>
    <div class="listing">
      <p><a href="testexperimentshow.html">Experiment: McGinty's Pub and Jello Shots</a></p>
      <p class="fineprint">Posted on July 13, 2015 by <a href="johnsmith">Dr. John Smith</a></p>
    </div>


  </div>
</body>
</html>
