<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="../assets/stylesheets/application.css">
  <title></title>
</head>
<body>




  <div class="container">
    <header>
      <p class="white">Login/logout, userid info will go here</p>
    </header>

    <nav>
      Aly University Lab Experiment Tracker
      <ul class="nav-menu">
        <li>All Proposals</li>
        <li>Post a Proposal</li>
        <li>Post an Experiment</li>
      </ul>
    </nav>

    <div class="main">
      <div class="tabs">
        <span class="fl-l">Top Questions</span>
        <ul>
          <li class="active">newest</li>
          <li>votes</li>
          <li>comments</li>
          <li>unanswered</li>
        </ul>
      </div>


      <div class="listing">
        <div class="statbox">
          <p>0</p>
          <p class="smallest">votes</p>
        </div>
        <div class="statbox highlight">
          <p>2</p>
          <p class="smallest">answers</p>
        </div>
        <p><a href="question.html">Who wrote the book of love?</a></p>
        <p class="fineprint">asked 2 min ago by <a href="users/johnsmith">John Smith</a></p>
      </div>
    </div>
  </div>
</body>
</html>
